.megacontainer {
  border: 3px solid #222831;
  margin: 0 auto;
  margin-bottom: 10px;
  max-width: 700px; /* Default max-width for larger displays */

  /* Media query for smaller screens (e.g., phones) */
  @media screen and (max-width: 768px) {
    max-width: 100%; /* Change max-width to 100% for smaller screens */
  }
}


.container {
  border: 1px solid #222831;
  margin: 0 auto;
  margin-bottom: 10px;
  width: inherit;
  min-width: 500px;

}

.megaheader {
  padding: 10px;
  cursor: pointer;
  background-color: #00ADB5;
  font-weight: bold;
  text-align: center;
  color: #393E46;
  font-size: 24px;
}

.header {
  padding: 10px;
  cursor: pointer;
  background-color: #EEEEEE;
  font-weight: bold;
  text-align: center;
  color: #393E46;
}

.content {
  padding: 1px;
  display: none;
}

.expand-icon {
  float: right;
  font-weight: bold;
}
.spacer {
    margin-top: 15px;
}

body {
  font-family: Monaco, monospace;
}