.tableContainer {
  margin-bottom: 20px;
}

.th {
  background-color: #f2f2f2;
  text-align: center;
  padding: 10px;
}

.tbody td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ccc
}

.tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.tbody tr:hover {
  background-color: #eaeaea;
}

\