{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/start.css' %}">

<div class="button-container">
    <h3>Chose period</h3>
    <a class="term" href="{% url 'week' %}">Week</a>
    <a class="term" href="{% url 'month' %}">Month</a>
    <a class="term" href="{% url 'quartal' %}">Quartal</a>
</div>
<div class="button-container">
    <h6>This project is not a job portal.<br>
        Here you can find analytics material for the IT sector.<br>
All data that is used in this project collects from justjoin.it.</h6>
</div>


{% endblock %}