{% block content %}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div><canvas id="experience_to_work_type" ></canvas></div>


<script>
  const experience_to_work_type = document.getElementById('experience_to_work_type');

  new Chart(experience_to_work_type, {
    type: 'bar',
    data: {
      labels: [{% for experience in experience_level %} "{{ experience.experience_level }}", {% endfor %}],
      datasets: [
      {
        label: 'office',
        data: [{% for work_type in work_type_office %} {{ work_type.count_workplace_type }}, {% endfor %}],
        backgroundColor: ['#FF6384'],
        borderColor: 'rgb(75, 192, 192)',
        stack: 'Stack 0'
      },
      {
        label: 'hybrid',
        data: [{% for work_type in work_type_hybrid %} {{ work_type.count_workplace_type }}, {% endfor %}],
        backgroundColor: ['#36A2EB'],
        borderColor: 'rgb(75, 192, 192)',
        stack: 'Stack 0'
      },
      {
        label: 'remote',
        data: [{% for work_type in work_type_remote %} {{ work_type.count_workplace_type }}, {% endfor %}],
        backgroundColor: ['#FFCE56'],
        borderColor: 'rgb(75, 192, 192)',
        stack: 'Stack 0'
      },
    ]
  },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>
{% endblock content %}