{% extends 'base.html' %}
{% block content %}
    <h1>{{ top_offer }}</h1>



    <table>
        <thead>
            <tr>
                <th>Skill Name</th>
                <th>Skill Count</th>
                <th>Average Level</th>
            </tr>
        </thead>
        <tbody>
            {% for skill in most_popular_skill %}
            <tr>
                <td>{{ skill.name }}</td>
                <td>{{ skill.skill_count }}</td>
                <td>{{ skill.avg_level }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


  {% endblock content %}

