{% block content %}


<div><canvas id="sallary"></canvas></div>

<script>
  const ctxsallary = document.getElementById('sallary');

  new Chart(ctxsallary, {
    type: 'bar',
    data: {
      labels: [{% for offer in top_offers %} "{{ offer.title }}", {% endfor %}],
      datasets:[
      {
        label: 'UoP',
        data: [
          [ {% for item in min_avg1 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg1 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg2 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg2 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg3 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg3 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg4 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg4 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg5 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg5 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg6 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg6 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg7 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg7 %} {% if item.type == 'permanent' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}]

        ],
        backgroundColor: ['#FFCE56'],
        borderColor: 'rgb(75, 192, 192)',

      },
      {
        label: 'B2B',
        data: [
          [ {% for item in min_avg1 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg1 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg2 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg2 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg3 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg3 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg4 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg4 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg5 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg5 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg6 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg6 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}],
          [ {% for item in min_avg7 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}, {% for item in max_avg7 %} {% if item.type == 'b2b' %}  {{ item.avg_level|floatformat:2 }}{% endif %}  {% endfor %}]
        ],
        backgroundColor: [ '#36A2EB'],
        borderColor: 'rgb(75, 192, 192)',

      }
      ]
  },
    options: {
      responsive: true,
      plugins: {
        legend: {
          position: 'top'
        },
        title: {
          display: true,
          text: 'with VAT'
        }
      },
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>



{% endblock content %}
