

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<canvas id="chart2" style="width: 100%; max-width: 450px; min-height: 200px; max-height: 300px;"></canvas>



<script>
  const ctx = document.getElementById('chart2').getContext('2d');
  new Chart(ctx, {
    type: 'bubble',
    data: {
      datasets: [{
        label: 'Top Skills',
        data: [
          {% for skill in top_skills %}
            { x: {{ skill.skill_count }}, y: {{ skill.avg_level }}, r: 15 },
          {% endfor %}
        ],
        backgroundColor: 'rgb(255, 99, 132)'
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
</script>



{% endblock content %}