

{% block content %}
<table border='1'>
  <tr>
    <th>Skill</th>
    <th>Skill Count</th>
    <th>Average Level</th>
  </tr>
  {% for skill in top_skills %}
    <tr>
      <td>{{ skill.name }}</td>
      <td>{{ skill.skill_count }}</td>
      <td>{{ skill.avg_level }}</td>
    </tr>
  {% endfor %}
</table>


<div class="chart-container">
  <canvas id="chart2"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Include Chart.js library -->

<script>
  const data = {
    datasets: [{
      label: 'Top Skills',
      data: [
        {% for skill in top_skills %}
          { x: {{ skill.skill_count }}, y: {{ skill.avg_level }}, r: 15 },
        {% endfor %}
      ],
      backgroundColor: 'rgb(255, 99, 132)'
    }]
  },


  const config = {
    type: 'bubble',
    data: data,
    options: {
      scales: {
        y: {
          beginAtZero: True
        }
      }
    }
  };

  const ctx = document.getElementById('chart2').getContext('2d');
  new Chart(ctx, config);
</script>


{% endblock content %}