{% block content %}

<div><canvas id="chart1" ></canvas></div>

<script>
  const ctx = document.getElementById('chart1');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: [{% for offer in top_offers %} "{{ offer.title }}", {% endfor %}],
      datasets: [{
        label: '',
        data: [{% for offer in top_offers %} {{ offer.title_count }}, {% endfor %}],
        backgroundColor: ['#FF6384', '#36A2EB', '#FFCE56'],
        borderColor: 'rgb(75, 192, 192)',

    }]
  },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>



{% endblock content %}