{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<script src="{% static 'js/main.js' %}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="spacer"></div>

<div class="megacontainer">

  <div class="megaheader" onclick="toggleContent(this)">
    Positions
    <span class="expand-icon">+</span>
  </div>

  <div class="content">
    <div class="spacer"></div>
    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Positions top
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/top_offers.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for <u>{{ top_offer1 }}</u>
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/find_most_popular_skill.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for <u>{{ top_offer2 }}</u>
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/find_most_popular_skill2.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for <u>{{ top_offer3 }}</u>
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/find_most_popular_skill3.html' %}
      </div>
    </div>
    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for <u>{{ top_offer4 }}</u>
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/find_most_popular_skill4.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for <u>{{ top_offer5 }}</u>
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/find_most_popular_skill5.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for <u>{{ top_offer6 }}</u>
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/find_most_popular_skill6.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for <u>{{ top_offer7 }}</u>
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/find_most_popular_skill7.html' %}
      </div>
    </div>

  </div>
</div>

<div class="megacontainer">
  <div class="megaheader" onclick="toggleContent(this)">
    Specialisation
    <span class="expand-icon">+</span>
  </div>
  <div Class="content">
    <div class="spacer"></div>
    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Top specializations
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/specializations.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for {{ specialisation1 }}
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
      {% include 'chart/specialisation/specialisation1.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for {{ specialisation2 }}
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
      {% include 'chart/specialisation/specialisation2.html' %}
      </div>
    </div>
    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for {{ specialisation3 }}
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
      {% include 'chart/specialisation/specialisation3.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for {{ specialisation4 }}
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
      {% include 'chart/specialisation/specialisation4.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for {{ specialisation5 }}
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
      {% include 'chart/specialisation/specialisation5.html' %}
      </div>
    </div>


    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for {{ specialisation6 }}
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
      {% include 'chart/specialisation/specialisation6.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Skills for {{ specialisation7 }}
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
      {% include 'chart/specialisation/specialisation7.html' %}
      </div>
    </div>

  </div>
</div>

<div class="megacontainer">
  <div class="megaheader" onclick="toggleContent(this)">
    Location and remote
    <span class="expand-icon">+</span>
  </div>
  <div Class="content">
    <div class="spacer"></div>
    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Positions from most popular locations
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/top_city.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Positions from most popular locations work on site
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/city_to_work_on_site.html' %}
      </div>
    </div>


  </div>

</div>

<div class="megacontainer">
  <div class="megaheader" onclick="toggleContent(this)">
    Position for experience level
    <span class="expand-icon">+</span>
  </div>
  <div Class="content">
    <div class="spacer"></div>
    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Positions for junior
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/junior_positions.html' %}
      </div>
    </div>

    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Positions for mid
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/mid_positions.html' %}
      </div>
    </div>
    <div class="container">
      <div class="header" onclick="toggleContent(this)">
        Positions for senior
        <span class="expand-icon">+</span>
      </div>
      <div class="content">
        {% include 'chart/positions/senior_positions.html' %}
      </div>
    </div>
  </div>

</div>

<div class="megacontainer">
  <div class="header" onclick="toggleContent(this)">
    Popular skills and rate
    <span class="expand-icon">+</span>
  </div>
  <div class="content">
    {% include 'chart/top_skills.html' %}
  </div>
</div>


<div class="megacontainer">
  <div class="header" onclick="toggleContent(this)">
    Positions on day
    <span class="expand-icon">+</span>
  </div>
  <div class="content">
    {% include 'chart/positions_on_day.html' %}
  </div>
</div>

<div class="megacontainer">
  <div class="header" onclick="toggleContent(this)">
    Positions for experience level
    <span class="expand-icon">+</span>
  </div>
  <div class="content">
    {% include 'chart/positions_for_experience.html' %}
  </div>
</div>

<div class="megacontainer">
  <div class="header" onclick="toggleContent(this)">
    Dependency worktype  level to experience
    <span class="expand-icon">+</span>
  </div>
  <div class="content">
    {% include 'chart/experience_to_work_type.html' %}
  </div>
</div>

{% endblock %}
